.message {
  padding: 20px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message__userCard {
  background-color: #2196f3 !important;
}

.message__guestCard {
  background-color: #eeeeee !important;
}
